.footer {
  width: 100%;
  height: 22rem;
  background-image: url("../../assets/wave.svg");
  background-size: cover;
  padding: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* Handle the first block */
.footer > div:first-child {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-top: 4rem;
}

.footer > div:first-child > div:first-child {
  text-align: left;
  color: var(--container-color);
}

.footer > div:first-child > div:first-child > h1 {
  font-size: var(--h1-font-size);
  color: var(--container-color);
}

.footer > div:first-child > div:first-child > h4 {
  font-size: var(--small-font-size);
  opacity: 80%;
  margin-bottom: 1rem;
}

.footer > div:first-child > div:first-child > a {
  color: var(--container-color);
  font-size: var(--small-font-size);
  transition: 0.25s ease-in-out;
}

.footer > div:first-child > div:first-child > a:hover {
  color: var(--first-color);
}

/* Handle the second block */
.footer > div:first-child > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer > div:first-child > div:nth-child(2) > p {
  color: var(--container-color);
  margin-bottom: 1rem;
  font-weight: var(--font-semibold);
}

.footer > div:first-child > div:nth-child(2) > ul {
  display: flex;
  align-items: center;
}

.footer > div:first-child > div:nth-child(2) > ul > li:not(:last-child) {
  margin-right: 1rem;
}

.footer > div:first-child > div:nth-child(2) > ul > li > a {
  color: var(--container-color);
  font-size: var(--small-font-size);
  transition: 0.3s ease-in-out;
}

.footer > div:first-child > div:nth-child(2) > ul > li > a:hover {
  color: var(--first-color);
}

/* Handle the third block */
.footer > div:first-child > div:nth-child(3) > p {
  margin-bottom: 1rem;
  color: var(--container-color);
  font-weight: var(--font-semibold);
}

.footer > div:first-child > div:nth-child(3) > ul {
  display: flex;
  align-items: center;
}

.footer > div:first-child > div:nth-child(3) > ul > li:not(:last-child) {
  margin-right: 1rem;
}

.footer > div:first-child > div:nth-child(3) > ul > li > a {
  color: var(--container-color);
  font-size: var(--h3-font-size);
  transition: 0.3s ease-in-out;
}

.footer > div:first-child > div:nth-child(3) > ul > li > a:hover {
  color: var(--first-color);
}

.footer > p {
  color: var(--container-color);
  font-size: var(--small-font-size);
}

@media screen and (max-width: 1024px) {
  .footer {
    height: fit-content;
  }

  .footer > div:first-child {
    flex-direction: column;
  }

  .footer > div:first-child > div:first-child {
    text-align: center;
    margin-bottom: 2rem;
  }

  .footer > div:first-child > div:nth-child(2) {
    text-align: center;
    margin-bottom: 1rem;
  }

  .footer > div:first-child > div:nth-child(3) {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .footer > div:first-child > div:nth-child(3) > ul {
    justify-content: center;
  }
}
